<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">
	<!-- time -->
	<timestamp key="logday" datePattern="yyyy-MM-dd"></timestamp>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>logs/swagger-${logday}.log</file>
	</appender>
	<appender name="errorFile" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>logs/swagger-error-${logday}.log</file>
		<!-- 只记录ERROR日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	<!-- 
	<appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	  <file>/mnt/logs/cloud-sdk-strack-${logday}.log</file>
	</appender> -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
		<appender-ref ref="errorFile"/>
	</root>
</configuration>